@using UserNotepad.ViewModels
@model UserViewModel

@{
    ViewData["Title"] = "Add User";
}

@using (@Html.BeginForm())
{
	<div class="row">
		
		<div class="col-12 my-3">
			<h3>Create</h3>
			<h6>Add a new user.</h6>
			<hr />
		</div>
		
		@Html.HiddenFor(model => model.Id)

		<div class="col-md-6 mb-3">
			@Html.LabelFor(model => model.FirstName) *
			@Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
		</div>

		<div class="col-md-6 mb-3">
			@Html.LabelFor(model => model.LastName) *
			@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
		</div>

		<div class="col-md-6 mb-3">
			@Html.LabelFor(model => model.BirthDate) *
			@Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
		</div>

		<div class="col-md-6 mb-3">
			@Html.LabelFor(model => model.Gender) *
			@Html.DropDownList("Gender", Html.GetEnumSelectList<Gender>(), "Select Gender", 
				new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
		</div>

		<div class="col-md-6 mb-3">
			@Html.LabelFor(model => model.Email)
			@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
		</div>

		<div class="col-md-6 mb-3">
			@Html.LabelFor(model => model.PhoneNumber.NationalNumber)
			<div class="input-group">
				@Html.DropDownListFor(model => model.PhoneNumber.CountryCode, 
					Model.PhoneNumber.CountryCodeOptions,
					new { @class = "form-control", @style = "max-width: 120px;" })
				@Html.EditorFor(model => model.PhoneNumber.NationalNumber, new { htmlAttributes = new { @class = "form-control" } })
			</div>
			@Html.ValidationMessageFor(model => model.PhoneNumber.NationalNumber, "", new { @class = "text-danger" })
		</div>
		
		<div class="col-auto mt-3 mb-5 ml-auto">
			@Html.ActionLink("Cancel", "Index", null, null, new { @class = "btn btn-light px-4" })
		</div>

		<div class="col-auto mt-3 mb-5">
			<input type="submit" value="Add" class="btn btn-primary px-4" />
		</div>

	</div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}