@using UserNotepad.ViewModels
@model UserViewModel

@{
    ViewData["Title"] = "User Details";
}

@using (@Html.BeginForm())
{
	<div class="row">
		
		<div class="col-12 my-3">
			<h3>Details</h3>
			<h6>Informations about a user.</h6>
			<hr />
		</div>
		
		@Html.HiddenFor(model => model.Id)

		<div class="col-md-6 mb-3">
			@Html.LabelFor(model => model.FirstName)
			@Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
		</div>

		<div class="col-md-6 mb-3">
			@Html.LabelFor(model => model.LastName)
			@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
		</div>

		<div class="col-md-6 mb-3">
			@Html.LabelFor(model => model.BirthDate)
			@Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
		</div>

		<div class="col-md-6 mb-3">
			@Html.LabelFor(model => model.Gender)
			@Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
		</div>

		<div class="col-md-6 mb-3">
			@Html.LabelFor(model => model.Email)
			@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
		</div>

		<div class="col-md-6 mb-3">
			@Html.LabelFor(model => model.PhoneNumber.NationalNumber)
			<div class="input-group">
				@Html.DropDownListFor(model => model.PhoneNumber.CountryCode, 
					Model.PhoneNumber.CountryCodeOptions,
					new { @class = "form-control", @style = "max-width: 120px;", @disabled = true })
				@Html.EditorFor(model => model.PhoneNumber.FormattedNationalNumber, 
					new { htmlAttributes = new { @class = "form-control", @readonly = true } })
			</div>
		</div>

		<div class="col-auto mt-3 mb-5">
			@Html.ActionLink("Back", "Index", null, null, new { @class = "btn btn-light px-4" })
		</div>

		<div class="col-auto mt-3 mb-5 ml-auto">
			@Html.ActionLink("Delete", "Delete", null, new { id = @Model.Id }, new { @id = "user-delete-action", @class = "btn btn-danger px-4" })
		</div>

		<div class="col-auto mt-3 mb-5">
			@Html.ActionLink("Edit", "Edit", null, new { id = @Model.Id }, new { @class = "btn btn-primary px-4" })
		</div>

	</div>
}

@await Html.PartialAsync("_UserDeleteModal")

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

	<script type="text/javascript">

		$("#user-delete-action").click(function (e) {
			e.preventDefault();
			$("#user-delete-modal").modal("show");
		});

	</script>
}